<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :first_name, :required => true %>
  <%= f.input :last_name, :required => true %>
  <p><strong>
    This additional profile information is not required right now, 
    but will be needed eventually!</strong>
  </p>
  <%= f.input :mobile_num, :label => "Mobile number" %>
  <%= f.input :home_num, :label => "Home number" %>
  <%= f.input :address_1, :label => "Address 1" %>
  <%= f.input :address_2, :label => "Address 2" %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip, :label => "Zip code" %><br />
  <strong>Only select one...</strong>
  <%= f.input :renter, :label => "Renter?" %>
  <%= f.input :owner_rep, :label => "OwnerRep? (broker, manager, owner)" %><br />
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
</div>

<div class="actions">
  <%= f.button :submit, "Sign up" %>
</div>