<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :first_name, :required => true %>
  <%= f.input :last_name, :required => true %>
  <p><strong>
    This additional profile information is not required right now, 
    but will be needed eventually!</strong>
  </p>

  <strong>Only select one...</strong>
  <%= f.association :roles, :collection => Role.to_select, :as => :radio_buttons %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
</div>

<div class="actions">
  <%= f.button :submit, "Sign up" %>
</div>