<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :first_name, :required => true %>
  <%= f.input :last_name, :required => true %>
  <%= f.input :renter, :label => "Are you a renter?" %>
  <%= f.input :broker, :label => "Are you a broker?" %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
</div>

<div class="actions">
  <%= f.button :submit, "Update" %>
</div>