<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :first_name, :required => true %>
  <%= f.input :last_name, :required => true %>
  <%= f.input :mobile_num, :label => "Mobile number" %>
  <%= f.input :home_num, :label => "Home number" %>
  <%= f.input :address_1, :label => "Address 1" %>
  <%= f.input :address_2, :label => "Address 2" %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip, :label => "Zip code" %>
  <strong>Only select one...</strong>
  <%= f.input :renter, :label => "Renter?" %>
  <%= f.input :broker, :label => "Manager?" %><br />
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
</div>

<div class="actions">
  <%= f.button :submit, "Update" %>
</div>