<%= simple_form_for @renter_profile do |f| %>
  <%= f.error_notification %>
  <div class="inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :first_name, :required => true, :autofocus => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :mobile_num, :label => "Mobile number" %>
    <%= f.input :home_num, :label => "Home number" %>
    <%= f.input :work_num, :label => "Work number" %>
  </div>
  <div class="actions">
    <%= f.button :submit, "Continue -->" %>
  </div>
<% end %>