<h1>Documents</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
      <th>User Email</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.name, document_path(document) %></td>
        <td><%= document.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_document_path(document), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', document_path(document), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
        <td><%= document.user ? document.user.email : "no user" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_document_path, :class => 'btn btn-primary' %>
