<p>
<h2>
  <%= @listing_user.first_name %> <%= @listing_user.last_name %> - <%= @shared_listing.listing.identifier %>
</h2>
<div class="form-actions">
  <%= link_to 'Dashboard', dashboard_path, :class => 'btn btn-mini btn-info' %>
</div>
</p>
<div class="table table-half">
  <h3>Profile:</h3>
  <ul class="unstyled">
    <li><%= mail_to @listing_user.email %></li>
    <li><%= @listing_user.mobile_num %></li>
    <li><%= @listing_user.home_num %></li>
  </ul>
  <p>
    <%= @listing_user.address_1 %><br/>
    <%= @listing_user.address_2 %>
    <%= @listing_user.city %>,
    <%= @listing_user.state %>
    <%= @listing_user.zip %>
  </p>
</div>
<div class="table table-striped table-half">
  <table>
    <thead>
    <tr>
      <th><h3>Documents</h3></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= link_to "download", document.file.url, :target => "_blank", :class => "btn btn-mini" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div id="package_selector">
  <%= render "package_selector" %>
</div>