<h3>
Renter Dashboard 
<% if current_user.renter_profile.present? %>
<%= link_to 'Profile', edit_renter_profile_path(renter_profile), :class => 'btn btn-mini' %>
<% else %>
<%= link_to 'Profile Setup', new_renter_profile_path, :class => 'btn btn-mini' %>
<% end %>
</h3>

<div class="table-thirds">
<%= render "documents/my_documents" %>
</div>
<div class="table-thirds">
<%= render "packages/my_packages" %>
</div>
<div class="table-thirds">
  <%= render "listings/shared_listings" %>
</div>