<p><%= link_to "New User", new_admin_user_path, :class => "btn btn-success" %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th></th>
      <th>Renter</th>
      <th>OwnerRep</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.last_name, [:admin, user] %></td>
      <td><%= link_to user.first_name, [:admin, user] %></td>
      <td><%= link_to user.email, [:admin, user] %></td>
      <td><%= link_to "Edit", edit_admin_user_path(@admin, :id => user.id),
              :method => 'get', :class => "btn btn-mini" %></td>
      <td><%= user.renter? ? "X" : "" %></td>
      <td><%= user.owner_rep? ? "X" : "" %></td>
      <td><%= user.admin? ? "X" : "" %></td>
    </tr>
    <% end %>
  </tbody>
</table>